* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: #fff;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #FAFAFA;
  
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

/* Header*/
header{
   display: flex;
   justify-content: center;
   background-color: #1B2127;
}

header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1B2127;
    padding: 21px;
    width: 1000px;
    height: 30px;
}

header div nav ol li {
    display: inline-block;
    padding: 10px;
}

/* Banner*/

.hero{
    background-color: #1B2127;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    margin-bottom: 40px;
}
.container-portafolio{
    width: 1000px;
    height: 300px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.container-portafolio img{
    object-fit: cover;
}

.hero h1{
    font-size: 40px;
    color: white;
    
}
.hero h1 strong{
    color: #026FFF;
    font-weight: normal;
}
.container{
    max-width: 1000px;
    flex: 1;
    height: auto;
    margin: 0 auto;
   
}

/* Portafolio*/

#portafolio{
    margin-bottom: 20px;
}

.title{
    text-transform: uppercase;
    color: #026FFF;
    font-weight: bold;
    font-size: 24px;
    margin: 40px 0px 40px 0px;
    font-family: 'Source Sans Pro', sans-serif;
}

.project-details{
    margin-top: -40px;
    width: 50%;

}
.project-image-container{
    width: 50%;

}

.project-image{
    max-width: 100%;
    width: 100%;
}

.project{
    height: 400px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex; 
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

.project-title{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px
}

.project-course, .project-data, .project-url{
    margin: 10px 0;
}

.project-description{
    font-size: 20px;
}


/**/

.event-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.event-detail{
    text-align: center;
    margin: 20px 40px;
    margin-top: -40px;
    background-color: #fff;
    position: relative;
    padding: 20px;
}

.event-description{
    margin: 20px 0px 20px 0px;
}

.event-url{
    border: 1px solid #056FFF;
    padding: 5px 20px;
    border-radius: 5px;
    color: #056FFF;
    margin-top: 20px;
}
.event-url:hover{
    color: #056FFF;
}

.sub-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.event{
    width: 47%;
    margin: 1%;
}

/**/

.contact{
    background-color: #056FFF;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.form-email{
    display: flex;
    flex-direction: column;
}

.form-email h3{
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;

}

.form-email input{
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url('images/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    margin-top: 15px;
}

.contact-button{
    margin-top: 10px;
    border: 2px solid gray;
    border-top-color: #fff;
    border-left-color: #fff;
    padding: 10px 0;
    background: transparent;
    border-radius: 5px;
    width: 100px;
    color: #fff;
}

.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
    
}
 .iconos{
    font-size: 50px;
 }
/* .social-link.twitter{
    background-image: url('images/índice.png');
}
.social-link.facebook{
    background-image: url('images/facebook.png');
}
.social-link.github{
    background-image: url('images/github.png');
}
.social-link.instagram{
    background-image: url('images/instagram.png');
} */

.sub-cont{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; 
}

.burger-button{
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 50%;
    background-color: rgba(27, 33, 39, .8);
    display: block;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 25px;
    color: #fff;
    display: none;
}


/* Media queries */

@media screen and (max-width: 1024px){
    .container{
        padding: 0 1em;
    }
    .form-email{
        padding: 0 1em;
    }
    /***/
    .hero{
        height: auto;
        position:relative;
    }
    .hero h1{
        font-size: 2em;
        z-index: 2;
        overflow: hidden;
        padding: 0 20px;
    }
    .container-portafolio img{
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        object-position: 25% 25%;
    }

}

@media screen and (max-width:767px){
  
    header div{
        display: block;
        height: auto;
        text-align: center;
    }
    header div nav ol li{
        display: block;
    }
    
    header div nav ol li a {
        height: 40px;
        font-size: 1.2em;
        margin-bottom: .5em;
    }
    header div nav{
        position: fixed;
        background-color:rgba(27, 33, 39, .8);
        z-index: 3;
        top: 0;
        left: -100vw; /* Para que el menu se oculte a la izquierda y se cree el efecto al hacer click*/
        width: 100vw; 
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;

    }
    header div nav.is-active{
        left: 0;
    }

    .project{
        display: block;
        height: auto;
    }
    .project-image-container{
        width: auto;
        text-align: center;
    }
    .project-image{
        width: 70%;
    }
    .project-details{
        width: auto;
        margin-top: 0;
        font-size: 20px;
    }
    
    .project-title{
        font-size: 1.5em;
    }
    .project-url{
        font-size: 1em;
    }
    .project-course{
        font-size: 1em;
    }
    .project-data{
        font-size: 1em;
    }
    .project-description{
        font-size: 1em;
    }
    /***/
    .event{
        width: 100%;
        
    }
    .event-image{
        object-position: 25% 25%;
    }
    .event-description{
        font-size: .8em;
    }
    .event-title{
        font-size: 1em;
    }
    .event-url{
        font-size: .8em;
    }
    /***/
    .contact{
        height: auto;
        padding: 1.5em 0;
        display: flex;
    }
    .sub-cont{
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .form-email{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }
    .contact-button{
        font-size: .8em;
        padding: .1em auto;
    }
    /**/
    .iconos{
        font-size: 2.5em;
    }
    
    /***/
    .burger-button{
        display: block;
    }

    .title{
        font-size: 1.3em;
    }
}
   

@media screen and (max-width: 480px){
    .project-details{
        font-size: 14px;
    }
    .project-image{
        width: 100%;
    }
    .event-detail{
        margin: 20px 10px;
        margin-top: -40px;
      
    }
    .hero h1{
        font-size: 1.7em;
    }
   
   


}

@media screen and (max-width: 320px){
    .hero h1{
        font-size: 1.2em;
        margin: 0 auto;
        text-shadow: 1px 2px 2px #000;
    }
    .container-portafolio img{
        filter: opacity(80%) blur(1px);
    }
     .title{
        font-size: 1em;
    }
    
}